doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  body
    img(src='images/img.png')
    block content

//div
//let people = [
    { personName: 'David', personStatus: 1 },
    { personName: 'David', personStatus: 1 },
    { personName: 'David', personStatus: 1 },
    { personName: 'David', personStatus: 1 },
    { personName: 'David', personStatus: 1 }
//]

//<div>
  <h1>{{personName}}</h1>
  <h2>{{personStatus}}</h2>
//</div>

//<div>
  <h1>{{personName}}</h1>
  <h2>{{personStatus}}</h2>
//</div>

//<div>
  <h1>{{personName}}</h1>
  <h2>{{personStatus}}</h2>
//</div>

//<div>
  <h1>{{personName}}</h1>
  <h2>{{personStatus}}</h2>
//</div>

//<div>
  <h1>{{personName}}</h1>
  <h2>{{personStatus}}</h2>
//</div>
